<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- Maximum number of backup files to store -->
    <add key="maxBackupFiles" value="5" />
    
    <!-- How often to save backup (in days). Value of 2 will add a backup every two days. -->
    <add key="backupInterval" value="1" />
  </appSettings>
</configuration>